<% item ||= @item %>
<%= form_for(current_user.wishes.find_by_item_id(item.id),
   html: { method: :delete }, remote: true) do |f| %>
  
   <% unless mobile_device? %>
  	<%= f.submit "Wishlistt'd", class: "btn btn-large" %>
  <% else %>
  	<p class="muted price"><strong><%= f.submit "Wishlistt'd", class: "" %></strong></p>
  <% end %>
<% end %>