<li class="white-box">
  <span class="content"><%= link_to list.name, user_list_path(@user, list) %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(list.created_at) %> ago.
        <% if current_user?(list.user) %>
		    <%= link_to "Delete", [current_user, list], method: :delete,
		                                data: { confirm: "You sure?" },
		                                title: list.name %>
		<% end %>
  </span>

</li>