<% provide(:title, 'About Us') %>
<div class="row">
	<div class="span12">
		<h1>About Us</h1>
	</div>
</div>
<div class="row">
  <div class="span9">
    
		<p>
		  Coming soon...
		</p>
  </div>
  <aside class="pull-right span3">
    <%= render 'shared/aside_hq' %>
  </aside>

</div>