<% provide(:title, 'Contact') %>
<div class="row">
	<div class="span12">
		<h1>Contact</h1>
	</div>
</div>
<div class="row">
  <div class="span9">
		<!-- BEGIN Podio web form -->
		<script src="https://podio.com/webforms/5094420/398732.js"></script>
		<script type="text/javascript">
		  _podioWebForm.render("398732")
		</script>
		<!-- END Podio web form -->

  </div>
  <aside class="pull-right span3">
    <%= render 'shared/aside_hq' %>
  </aside>

</div>