function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	            $('.btn-file').css("background-image", "url(" + e.target.result + ")");
	        };

	        reader.readAsDataURL(input.files[0]);
	    }
	};

$(document).ready(function(){

	var searchfield = $(".list-add-wish").find("#search");

	function ifExists(val){
		if (val) {
			return val
		}
		else {
			return ""
		}
	};
	function ValidUrl(value){
      return /^(https?|ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(value);
    }
	function commaSeparateNumber(val){
    val = val.toString().replace(/(\d+)(\d{2})/, '$1'+','+'$2');
    return val;
  };
  $("#new_item").on({
    ajaxStart: function() { $("#new_item").addClass("loading");    },
    ajaxStop: function() { $("#new_item").removeClass("loading"); }    
	});

  var database = {
	  	url: '/item_suggestion?query=%QUERY',
	  	wildcard: '%QUERY',
	  	filter: function(data) {
		    return $.map(data, function(product) {
		    	var images = [];
		    	images.push(product.image.thumb.url);
		    	var price = "";
		    	if (product.price_cents) {
		    		var price = commaSeparateNumber(product.price_cents) + " " + product.price_currency;	
		    	};
		    	return { 
		    		title: product.title,
		    		image: product.image.thumb.url,
		    		images: images,
		    		id: product.id,
		    		url: product.link,
		    		vendor: product.vendor.name,
		    		price: price
		    	}; 
		    });
		  }
		};

	var linkpreview = {
	  	url: '/linkpreview?url=%QUERY',
	  	wildcard: '%QUERY',
	  	filter: function(data) {
	  		datas = [];
	      datas.push(data);
		    return $.map(datas, function(product) { 
		    	return { 
		    		title: product.title,
		    		image: product.images[0],
		    		images: product.images,
		    		id: 0,
		    		url: product.url,
		    		price: product.price,
		    	}; 
		    });
		  }
		};

	var search_source = new Bloodhound({
	  datumTokenizer: function(d) {
	    return Bloodhound.tokenizers.whitespace(d.val);
	  },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  remote: linkpreview
	});

	search_source.initialize();

	searchfield.on('input', function(e) {
    if (ValidUrl(searchfield.val())) {
    		search_source.clear();
        search_source.remote = linkpreview; // Next choose the desired alternate data source
        search_source.initialize(true); // Finally reinitialise the bloodhound suggestion engine
        console.log("Source changed to: " + search_source.remote.url)
    } else if (search_source.remote.url == linkpreview.url) {
        search_source.remote = database;
        search_source.initialize(true); // Finally reinitialise the bloodhound suggestion engine
        console.log("Source changed to: " + search_source.remote.url)
    };
	});
	 
	searchfield.typeahead({
		minLength: 3
	},
	{
	  name: 'search_source',
	  displayKey: 'title',
	  source: search_source.ttAdapter(),
	  templates: {
	    suggestion: Handlebars.compile('<div class="media list_typeahead">' + 
	    	'<img src="{{image}}" id="selected-img" class="img-rounded thumb pull-left" id="item_{{id}}" />' +
		    	'<div class="media-body">' + 
		    		'<h4 class="media-heading ellipsis">{{title}}</h4>' +
		    		'<div><strong>{{vendor}}</strong></div>' +
		    		'<div>{{price}}</div>' +
		    	'</div>' + 
		    '</div>'),
	    header: Handlebars.compile('<div id="loading-indicator" style="display:none;"><p>Loading</p></div>')
	  }
	});

	function resetfields() {
		$('#new_item')[0].reset();
		searchfield.show();
		$("#new_item").find("input[type='submit']").hide();
		$("#item_via").val("default");
		$("#btn-to-modal-secondary").show();
		$("#start-over").hide();
		$('#new_item .item_fields').hide();
    $('input#item_image').show();
    $('#item-display-image').removeClass("image-cycler");
    $('#item_link').prop('readonly', false);
    $('#item-display-image').css("background-image", "url(<%= asset_path('choose-image.png') %>)");
	};

	$("#start-over").on('click', function(){
		resetfields();
	});

	$(document).on('click', '#btn-to-modal-secondary', function() {
	  $('#modal-default').hide();
	  $('#modal-secondary').show();
	});

	$(document).on('click', '#btn-to-modal-default', function() {
	  $('#modal-default').show();
	  $('#modal-secondary').hide();
	});

	searchfield.keypress(function(e) {
    if(e.which == 13) {
    	e.preventDefault();
    	sval = searchfield.val();
    	searchfield.typeahead('close').hide();
    	$('#new_item')[0].reset();
      $("#new_item").find("input[type='submit']").show();
			$("#btn-to-modal-secondary").hide();
			$("#start-over").show();
			$("#new_item").find(".item_fields").show();
			$('#item_title').val(sval).focus();
			$("#item_via").val("no_link");
    }
	});

	searchfield.on('typeahead:selected', function(evt, item) {
		console.log(item);
		console.log(item.images);
		searchfield.hide();
		$("#new_item").find("input[type='submit']").show();
		$("#btn-to-modal-secondary").hide();
		$("#start-over").show();
		$("#new_item").find(".item_fields").show();
    $('#item_title').val(item.title).focus();
    $('#item_remote_image_url').val(item.image);
    if (item.image) {
    	$('input#item_image').hide();
    	$('#item-display-image').css("background-image", "url(" + item.image + ")");
	    $('#item-display-image').attr('data-images', JSON.stringify(item.images));
	    $('#item-display-image').addClass("image-cycler");
    } else {
    	$('#item_via').val('no_link');
    }
    $('#item_link').val(item.url);
    $('#item_link').prop('readonly', true);
    $('#item_price').val(item.price);
    // $('#new_item').submit();
	});

  var i = 0;
  $("#item-display-image").on('click', function(){
  		// alert('clicked');
  		var images = JSON.parse($(".image-cycler").attr('data-images'));
      i = (i+1)%images.length;
      $("#item-display-image").css("background-image", "url(" + images[i] + ")");
      $('#item_remote_image_url').val(images[i]);
  });
});