<div class="row">
  <div class="span12">
    <%= text_area_tag :urls, params[:urls], placeholder: "Paste links." %>
    <a href="#" class="btn" id="test-urls">Test urls</a>
  </div>
</div>
<hr />
<div class="row">
  <div class="span12">
    <div class="white-box user_list">
     	<ul id="tested-urls" class="wishes unstyled">
     		<!-- tests here -->
     	</ul>
    </div>
  </div>
</div>
