<% provide(:title, 'Wishlistt') %>
<div class="row">
	<div class="span12">
		<h1>Wishlistt list</h1>
	</div>
</div>

<div class="row">
	<div class="span9">
        <ul class="li">
            Testing 1
        </ul>
        <ul class="li">
            Testing 2
        </ul>
        <ul class="li">
            Testing 3
        </ul>
	</div>
</div>
