<% if signed_in? %>
    Davs
<% else %>
    <img data-picture>
    <div class="info">
        <p data-title></p>
        <p data-price></p>
    </div>
    <hr>

    <%= button_to 'Save wish list', signin_path %>
<% end %>
