<% if signed_in? %>
    Davs
    <%= link_to "Sign out", signout_path %>
<% else %>
    <img data-picture>
    <div class="info">
        <p data-title></p>
        <p data-price></p>
    </div>
    <hr>

    <%= button_to 'Save wish list', signin_path %>

    <%= link_to "Sign up", plugin_signup_path %>
    <%= link_to "Login", plugin_signin_path %>
<% end %>
