<% provide(:title, 'Sign up') %>

<div class="row">
    <%= link_to "Back", plugin_index_path %>
    <div class="span6 offset3 white-box">
        <%= render 'shared/signup', url: { controller: 'plugin', action: 'signup_create' } %>
    </div>
</div>
