<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>
  <div class="span12">
    
    <div class="row">
      <% if @user.lists.any? %>
        <%= render @lists %> 
      <% else %>
        <!-- TODO: RENDER NO_LISTS -->
      <% end %>
      <% if current_user?(@user) %>
        <div class="span4">
          <div class="white-box" id="new_list_link">
            <%= link_to "New wish list", "#" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>