<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>
</div>
<div class="show_user">
  <div class="row">
    <% if @user.lists.any? %>
      <%= render @lists %> 
    <% else %>
      <!-- TODO: RENDER NO_LISTS -->
    <% end %>
    <% if current_user?(@user) %>
      <div class="span6">
        <div class="white-box" id="new_list_link">
          <%= link_to("New wish list", new_user_list_path(current_user, @list), class: "muted", id: "new_list_link", remote: true) if current_user?(@user)  %>
        </div>
      </div>
    <% end %>
  </div>
</div>