<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12">
      <%= gravatar_for @user %>
      <h1>
        <%= @user.name %>
      </h1>
  </div>

  <div class="span8">
    <% if @user.lists.any? %>
      <h3>Lists (<%= @user.lists.count %>)</h3>
      <ol class="lists">
        <%= render @lists %>
      </ol>
    <% end %>

  </div>

  <aside class="span4">
    <h3>Gift ideas</h3>
  </aside>

</div>