<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12 user_info">
    <div class="row">
      <div class="span9">
        <%= render partial: 'shared/user_info', locals: {:user => @user} %>
      </div>
        <%= render partial: 'users/follow_stats', locals: {:subject => @user} %>
      
    </div>
  </div>
</div>
<div class="show_user" >
  <div class="row js-masonry" data-masonry-options='{ "itemSelector": ".span6", "transitionDuration": "0.1s" }'>
    <% if @user.lists.any? %>
      <%= render @lists %> 
    <% else %>
      <!-- TODO: RENDER NO_LISTS -->
    <% end %>
    <% if current_user?(@user) %>
      <div class="span6">
        <div class="white-box" id="new_list_link">
          <%= link_to("New wish list", new_user_list_path(current_user, @list), class: "muted", id: "new_list_link", remote: true) if current_user?(@user)  %>
        </div>
      </div>
    <% end %>
  </div>
</div>