<div class="share">
  <h3>Share</h3>
  <ul class="inline muted">
		<li>
			<a href="#">
				<i class="icon-link"></i> <input type="url" readonly onClick="this.select();" value="wishlistt.com<%= request.fullpath %>">
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-envelope"></i> Send with e-mail
			</a>
		</li>
		<li>
			<%= link_to "#" do %>
				<i class="icon-share"></i> Export to PDF
			<% end %>
		</li>
  </ul>
</div>