<div class="share">
  <h3>Share</h3>
  <p>wishlistt.com<%= request.fullpath %></p>
  <span>
  	<ul class="inline-block">
  		<li><i class="icon-facebook-sign"></i></li>
  		<li><i class="icon-link"></i></li>
  		<li><i class="icon-envelope"></i></li>
  	</ul>
  </span>
</div>