<div class="share">
  <h3>Share</h3>
  <div class="clearfix"></div>
  <span>
  	<i class="icon-facebook-sign icon-large"></i>  <i class="icon-link icon-large"></i>  <i class="icon-envelope icon-large"></i>
  </span>
</div>