<div class="hq">
  <h3>Halusta HQ</h3>
  <span>
  	<img src="http://maps.googleapis.com/maps/api/staticmap?center=Copenhagen,Denmark&zoom=11&size=220x220&maptype=roadmap
&markers=55.69436,12.54365&sensor=false" alt="">
  </span>
</div>