<div class="no-wish center">
	<h3>A list without a wish is no wish list!</h3>
	<p>Begin collecting your wishes by clicking the 'Make a wish' button on the top bar of this page. It's super easy!</p>
</div>