<div class="center list_add_wish">
	<%= link_to "Add wish", new_item_path, {remote: true, 'data-toggle' => 'modal', 'data-target' => "#make_wish", id: "add_wish", class: "btn btn-primary"} if current_user?(@user) %>
</div>