<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user %>
</a>
<h1>
  <%= @user.name %>
</h1>
<span>
  <i class="icon-map-marker"></i> Copenhagen, DK
</span>
<span>
  <%= pluralize(@user.lists.count, "list") %>
</span>