<% wish ||= @wish %>

<button title="Reserved by <%= wish.reservation.user.name %>" class="tooltip-toggle btn btn-info btn-small" rel="tooltip" class="tooltip-toggle" data-html="true" data-title="Reserved by <%= wish.reservation.user.name %>" data-container="body">Reserved</button>
