function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	            $('.btn-file').css("background-image", "url(" + e.target.result + ")");
	        };

	        reader.readAsDataURL(input.files[0]);
	    }
	};

$(document).ready(function(){

	var searchfield = $(".list-add-wish").find("#search");

	function ifExists(val){
		if (val) {
			return val
		}
		else {
			return ""
		}
	};
	function ValidUrl(str) {
	  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
	  '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
	  '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
	  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
	  '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
	  '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
	  if(!pattern.test(str)) {
	    return false;
	  } else {
	    return true;
	  }
	};
	function commaSeparateNumber(val){
    val = val.toString().replace(/(\d+)(\d{2})/, '$1'+','+'$2');
    return val;
  };
  $(document).on({
    ajaxStart: function() { $("#new_item").addClass("loading");    },
     ajaxStop: function() { $("#new_item").removeClass("loading"); }    
});

  var database = {
	  	url: '/search_suggestion?query=%QUERY',
	  	wildcard: '%QUERY',
	  	filter: function(data) {
		    return $.map(data, function(product) {
		    	var images = [];
		    	images.push(product.image.thumb.url);
		    	var price = "";
		    	if (product.price_cents) {
		    		var price = commaSeparateNumber(product.price_cents) + " " + product.price_currency;	
		    	};
		    	return { 
		    		title: product.title,
		    		image: product.image.thumb.url,
		    		images: images,
		    		id: product.id,
		    		url: product.link,
		    		vendor: product.vendor.name,
		    		price: price
		    	}; 
		    });
		  }
		}

	var linkpreview = {
	  	url: '/linkpreview?url=%QUERY',
	  	wildcard: '%QUERY',
	  	filter: function(data) {
	  		datas = [];
	      datas.push(data);
		    return $.map(datas, function(product) { 
		    	return { 
		    		title: product.title,
		    		image: product.images[0],
		    		images: product.images,
		    		id: 0,
		    		url: product.url,
		    		price: product.price,
		    	}; 
		    });
		  }
		}

	var search_source = new Bloodhound({
	  datumTokenizer: function(d) {
	    return Bloodhound.tokenizers.whitespace(d.val);
	  },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  remote: linkpreview
	});

	search_source.initialize();

	searchfield.on('input', function(e) {
    $('#new_item .item_fields').hide();
    $('input#item_image').show();
    $('#item-display-image').removeClass("image-cycler");
    $('#item_link').prop('readonly', false);
    $('#item-display-image').css("background-image", "url(<%= asset_path('choose-image.png') %>)");
    if (ValidUrl(searchfield.val())) {
    		search_source.clear();
        search_source.remote = linkpreview; // Next choose the desired alternate data source
    } else {
        search_source.remote = database;
    };
    search_source.initialize(true); // Finally reinitialise the bloodhound suggestion engine
	});
	 
	searchfield.typeahead({
		// Options here
	},
	{
	  name: 'search_source',
	  displayKey: 'title',
	  source: search_source.ttAdapter(),
	  templates: {
	    suggestion: Handlebars.compile('<div class="media list_typeahead">' + 
	    	'<img src="{{image}}" id="selected-img" class="img-rounded thumb pull-left" id="item_{{id}}" />' +
		    	'<div class="media-body">' + 
		    		'<h4 class="media-heading">{{title}}</h4>' +
		    		'<div><strong>{{vendor}}</strong></div>' +
		    		'<div>{{price}}</div>' +
		    	'</div>' + 
		    '</div>'),
	    header: Handlebars.compile('<div id="loading-indicator" style="display:none;"><p>Loading</p></div>')
	  }
	});

	searchfield.keypress(function(e) {
    if(e.which == 13) {
    	e.preventDefault();
    	searchfield.typeahead('close');
    	$('#new_item')[0].reset();
      $("#new_item > .item_fields").show();
      $('#item_title').val(searchfield.val());
    }
	});

	searchfield.on('typeahead:selected', function(evt, item) {
		$("#new_item > .item_fields").show();
    $('#item_title').val(item.title);
    $('#item_remote_image_url').val(item.image);
    $('input#item_image').hide();
    $('#item-display-image').css("background-image", "url(" + item.image + ")");
    $('#item-display-image').attr('data-images', item.images);
    $('#item-display-image').addClass("image-cycler");
    $('#item_link').val(item.url);
    $('#item_link').prop('readonly', true);
    $('#item_price').val(item.price);
    // $('#new_item').submit();
	});

  var i = 0;
  $("#item-display-image").on('click', function(){
  		// alert('clicked');
  		var images = $(".image-cycler").attr('data-images').split(',');
      i = (i+1)%images.length;
      $("#item-display-image").css("background-image", "url(" + images[i] + ")");
      $('#item_remote_image_url').val(images[i]);
  });
});