<div class="social-count">
	<ul class="unstyled">
      <li>
        <i class="icon-heart"></i> 
        <% if @item.lists.any? && @item.lists.last.user.present? %>
          <%= link_to @item.lists.last.user.name, user_path(@item.lists.last.user) %> 
          
          <% if @item.wishes.count > 1 %> 
            and <a href="#wishers" rel="tooltip" class="tooltip-toggle" data-html="true" data-toggle="modal" data-title="<% @item.wishes.each do |w| %><%= w.list.user.name %><br/><% end %>"><%= pluralize(@item.wishes.count - 1, 'other') %></a>
          <% end %>
          wishes this.
        <% else %>
          Be the first to wish this
        <% end %>
      </li>
      <li><i class="icon-eye-open"></i> <%= pluralize(@item.impressionist_count(:filter=>:ip_address), 'view') %></li>
    </ul>
</div>

<div id="wishers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="wishersLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="signUpLabel">People who wishes this</h2>
  </div>
  <div class="modal-body">
    <div class="">
      
    </div>
  </div>
</div>