<div id="item_fields" style="display:none;">
	<%= form_for(@item, remote: true, html: { multipart: true }) do |f| %>
	<div class="modal-body">
			<div id="imgPreview" class="carousel slide" data-interval="">

			  <!-- Carousel items -->
			  <div class="carousel-inner">
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#imgPreview" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#imgPreview" data-slide="next">&rsaquo;</a>
			</div>
			<%= render 'fields', f: f %>
	</div>
	<div class="modal-footer" >
		<a href="#" id="manual_wish_back" class="muted pull-left">Back</a>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<%= f.submit "Wish", class: "btn btn-primary", id: "commit" %>
	</div>
<% end %>
</div>