<%= form_for(@item, html: { multipart: true }) do |f| %>
	<div id="modal-manual-wish-body" class="modal-body" style="display:none;">
	  <%= render 'fields', f: f %>
	  <%= f.hidden_field :via, value: "no_link" %>
	</div>
	<div id="modal-manual-wish-footer" class="modal-footer" style="display:none;">
		<a href="#" id="manual_wish_back" class="muted pull-left">Back</a>
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <%= f.submit "Add wish", class: "btn btn-primary" %>
	</div>
<% end %>