<div class="spacer"></div>
<div class="span12 center">
	<h1 class="muted">You aren't following anyone.</h1>
	<p class="muted">Explore the popular and recent tabs to discover wishes, people and interesting vendors.</p>
	<%= link_to "Find Friends", users_path, class: "btn" %> <%= link_to "Find Vendors", vendors_path, class: "btn" %>
</div>
<div class="spacer"></div>