<% provide(:title, 'New wish') %>

<div class="row">
  <div class="span6 offset3 white-box">
  	<h1>New wish</h1>
  	<%= form_for(@item, html: { multipart: true }) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.hidden_field :via, value: "no_link" %>
      <%= f.submit "Add wish", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>