// Default 940px grid
// -------------------------
$gridColumns: 12;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 20px;
$gridColumnWidth768: 60px;
$gridGutterWidth768: 20px;

// Fluid grid
// -------------------------
$fluidGridColumnWidth: 6.382978723%;
$fluidGridGutterWidth: 2.127659574%;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

$sansFontFamily: 'Open Sans', Helvetica, sans-serif;
$btnPrimaryBackground: #1693A5;
$btnPrimaryBackgroundHighlight: #1693A5;

@import "bootstrap";
@import "font-awesome";


body {
  padding-top: 40px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: rgb(245, 245, 245);
}

@import "bootstrap-responsive";

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  background-image: none;
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  // background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  // background-image: -o-linear-gradient(top, white, #f2f2f2);
  // background-image: linear-gradient(to bottom, white, #f2f2f2);
  // background-repeat: repeat-x;
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.addwish {
  margin-top: 10px;
}

.inline-block {
  display: inline-block;
}

.front_image {
  margin-left: 80px;
}

.spacer {
  padding: 10px;
  display: block;
}

.jumbotron {
  position: relative;
  // padding: 60px 0;
  // color: #35424a;
  // text-align: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  // background: #35424a;
  // background: #ADD8C7;
  // -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  //    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  //         box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  height: 120px;
  h1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  h1 {
    font-size: 5em;
    letter-spacing: -1px;
    // margin-bottom: 30px;
  }
  h2 {
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    // color: $grayLight;
  }
}

.white-box {
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
    span {
      margin-left: 10px;
  }

  .image-container {
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

@font-face {
  font-family: Lavanderia_Regular;
  src: asset-url('Lavanderia_Regular.otf', font) format('opentype');
  }

.logo {
  font-family: Lavanderia_Regular;
}


/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* footer */

footer {
  height: 40px;
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.item {
  margin-bottom: 20px;
  height: 354px;
  display: block;
  position: relative;
  overflow: hidden;
  &:hover {
      .mark {
        opacity: 1;
      }
      .btn {
        opacity: 1;
        z-index: 10;
      }
    }

  .item-link {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .mark {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-left: -64px;
    margin-top: -45px;
    opacity: 0;
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
  }
}

.nav > .white-box {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color:white;
  @include box_sizing;
}

/* sidebar */

.share {
  i {
    font-size: 2em;
    line-height: 1.2em;
    display: inline-block;
    color: #777777;
  }
  .icon-facebook-sign:hover {
    color: #4c66a4;
  }
  .icon-link:hover {
    color: #3c8fc9;
  }
  .icon-envelope:hover {
    color: orange;
  }
}

.user_info {
      span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      color: #777777;
    }
      h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.user_lists {
  ul {
    li {
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
    &:last-child {
      border: 0;
      }
    }
  }
}

.create-list .input-append { 

  margin-bottom: 0;

  #appendedInputButton {
    border: 0;
    padding: 5px;
    width: 182px;
    }
  .btn {
    width: 40px;
    padding: 5px;
  }
 }

.create-list {
  margin-top: 10px;
  padding: 0;
}

aside {
  h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e8;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .new_list {
  margin: 0;
 }


#make_wish > form, #new_wish > form {
  margin-bottom: 0;
}

.item .image-container {
  form {
    margin: 0;
  }
}


 /* lists */

.lists {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;

    &:last-child {
      padding: 10px 0 0 0;

      .btn-group, .timestamp {
        bottom: 0px;
      }
    }
    &:first-child {
      border: 0;
      padding: 0 0 10px 0;
    }

    &:hover {
      .btn-group {
        display: inline-block;
      }
    }

    .btn-group {
      right: 0;
      display: none;
    }

    .btn-group, .timestamp {
        position: absolute;
        bottom: 10px;
      }
    

    .inline-block {
      vertical-align: top;
    }
  }
}

.inline-block {
  li {
    display: inline-block;
  }
}

.no-wish {
  padding: 10%;
  p {
    color: #777777;
  }
}

.content {
  display: block;
  h4, p {
    width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.timestamp {
  color: $grayLight;
  font-size: 11px;
  display: block;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



/* social */

.btn-facebook, .btn-facebook:hover {
  font-weight: normal;
  color: white;
  text-shadow: none;
  background: -webkit-linear-gradient(top, #536A97, #3D5382);
  background: -moz-linear-gradient(top, #536A97, #3D5382);
  background: -o-linear-gradient(top, #536A97, #3D5382);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536a97',endColorstr='#4f77a7');
  background-image: -ms-linear-gradient(#536A97, #3D5382);

  i {
    vertical-align: baseline;
    margin: 0 13px 0 0;
  }
}

.btn-facebook:hover {
  background: -webkit-linear-gradient(top, #536A97, #536A97);
  background: -moz-linear-gradient(top, #536A97, #536A97);
  background: -o-linear-gradient(top, #536A97, #536A97);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536a97',endColorstr='#536A97');
  background-image: -ms-linear-gradient(#536A97, #536A97);
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}