// Default 940px grid
// -------------------------
$gridColumns: 12;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 20px;
$gridColumnWidth768: 60px;
$gridGutterWidth768: 20px;

// Fluid grid
// -------------------------
$fluidGridColumnWidth: 6.382978723%;
$fluidGridGutterWidth: 2.127659574%;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

$sansFontFamily: 'Open Sans', Helvetica, sans-serif;
$linkColor: #47a599;
$btnPrimaryBackground: #47a599;
$btnPrimaryBackgroundHighlight: #53b5a8;
$verylightgray: #e8e8e8;

@import "bootstrap";
@import "font-awesome";
@import "flat-ui/flat-ui";


body {
  padding-top: 40px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: rgb(245, 245, 245);
}

@import "bootstrap-responsive";

@media (max-width: 767px) {

  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .hero-unit {
    margin-top: -20px;
  }
}

// FIX RADIO and CONTROLS
.controls > .radio:first-child > span.icons, .controls > .checkbox:first-child > span.icons {
  margin-top: 5px;
}

.form-horizontal .control-group::before, .form-horizontal .field_with_errors::before, .form-horizontal .control-group::after, .form-horizontal .field_with_errors::after {
  display: none;
}

/* BOOTSTRAP STYLING FOR FILE UPLOAD */

.btn-file, .btn-file:hover {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.btn-file input[type=file], .btn-file input[type=file]:hover {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.list-add-wish .btn-file {
  height: 115px;
  width: 20%;
  margin-bottom: 0;
  border: 2px solid #bdc3c7;
}

.edit_user_pic.btn-file {
  margin-left: 20px;
  height: 80px;
  width: 80px;
  border: 2px solid #bdc3c7;
}

/* END BOOTSTRAP STYLING FOR FILE UPLOAD*/

// Navlist
.update_user_nav.nav-list > li > a, .update_user_nav.nav-list > li.nav-header {
  border-bottom: 1px solid lightgrey;
}
.update_user_nav.nav-list > li > a {
  color: gray;
}
.update_user_nav.nav-list > li.nav-header {
  font-size: 14px;
}
.update_user_nav.nav-list > li.active > a {
  color: #444444;
  background-color: lightgrey;
  text-shadow: none;
}
.update_user_nav.nav-list > li > a, .update_user_nav.nav-list .nav-header {
  padding: 8px 12px;
}

/* START TYPEAHEAD */

.twitter-typeahead{
     width: 100%;
     input[type="text"] {
      margin-bottom: 5px;
     }
}
.tt-dropdown-menu{
    width: 100%;
    padding-bottom: 5px !important;
}
input.typeahead.tt-query{ /* This is optional */
    width: 300px !important;
}

.list_typeahead img {
  height: 80px;
  width: 80px;
}

.invite_typeahead {
  padding: 5px;
  border-bottom: 1px solid $verylightgray;
}

ul#admissions {
  li {
    display: block;
    clear: both;
    padding: 5px 0;
    border-bottom: 1px solid $verylightgray;
  }
  li:first-child {
      border-top: 1px solid $verylightgray !important;
    }
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  .list_typeahead {
    padding: 6px 8px;
    min-height: 80px;
  }
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > div:hover,
.tt-suggestion > div:focus,
.tt-suggestion.tt-cursor div {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: $btnPrimaryBackground;
}

.list_typeahead {
  a {
    padding: 0;
  }
}

/* END TYPEAHEAD */

.touch-device {
  min-height: 100%;
  * {
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
  }
  .scroll-container {
    position: absolute;
    width: 100%;
    min-height: -webkit-calc(100% + 2.45em);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
  }
  .scroll-body {
    position: absolute;
    float: left;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  background-image: none;
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  // background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  // background-image: -o-linear-gradient(top, white, #f2f2f2);
  // background-image: linear-gradient(to bottom, white, #f2f2f2);
  // background-repeat: repeat-x;
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .nav > li > p {
  float: none;
  padding: 10px 0px 10px;
  margin-bottom: 0;
}

.navbar .nav > li > a.btn {
  padding: 4px 10px;
  margin-right: 8px;
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a.btn-primary:hover, .navbar .nav > li > a.btn-primary:focus {
  background-color: $btnPrimaryBackgroundHighlight;
}

.navbar-search {
  input#search, .span6.tt-hint {
    padding: 4px;
    margin: 0;
    border: 1px solid lightgrey;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
  input#search:focus {
    // width: 260px;
    border: 1px solid #47a599;
  }
  .tt-dropdown-menu h5 {
    margin: 0 0 0 5px;
    padding: 5px 0;
    border-bottom: 1px solid $verylightgray;
  }
  .tt-dropdown-menu > div {
    div.navbar-typeahead-suggestion {
      padding: 5px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.navbar-search.loading #search {
  background: url(ajax-loader.gif) no-repeat;
  background-position: right 7px center;
}

.form-search {
  .btn {
    padding: 8px;
  }
}


.navbar-caret {
  padding-left: 0 !important;
  cursor: pointer;
}

// .modal {
//   position: absolute;
//   top: 10%;
// }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

// Fix to make modals scrollable

.modal-body {
  max-height: none !important;
}

@media all and (min-height: 4em) {
  .modal {
    position: fixed;
  }
  .modal-body {
    max-height: 40em;
    overflow-y: visible;
  }
}

// END

// POPOVER ACTIVITIES / NOTICIFICATIONS

.popover {
  position: fixed;
}

#activities_popover {
  cursor: pointer;
}

.popover-content {
  padding: 0;
  font-size: 13px;
  .gravatar {
    margin-right: 0;
  }
  .media {
    margin-top: 0;
  }
  .activity {
    padding: 10px 5px;
    border-bottom: 1px solid lightgrey;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: #FCFCFC;
    }
  }
}

.modal-footer {
  border-top: 0px solid #ddd;
  background-color: white;
}


hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #e8e8e8;
border-bottom: 0px solid white;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.addwish {
  margin-top: 10px;
}

.inline-block {
  display: inline-block;
}

.front_image {
  margin-left: 80px;
}

.spacer {
  padding: 10px;
  display: block;
  clear: both;
}

.muted a, a.muted {
  color: #777777;
  text-decoration: none;
  &:hover, &:focus {
    color: #333333;
  }
}

a.no-color {
  color: inherit;
}

.hero-unit {
    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(50,50,50, .8)), color-stop(100%, rgba(50,50,50, 1))), url('nice-things.jpg'); /* Chrome,Safari4+ */
    // background-image: -webkit-linear-gradient(top, rgba(50,50,50, .8), rgba(50,50,50, 1)), url('nice-things.jpg'); /* Chrome10+,Safari5.1+ */
    // background-image:    -moz-linear-gradient(top, rgba(50,50,50, .8), rgba(50,50,50, 1)), url('nice-things.jpg'); /* FF3.6+ */
    // background-image:     -ms-linear-gradient(top, rgba(50,50,50, .8), rgba(50,50,50, 1)), url('nice-things.jpg'); /* IE10+ */
    // background-image:      -o-linear-gradient(top, rgba(50,50,50, .8), rgba(50,50,50, 1)), url('nice-things.jpg'); /* Opera 11.10+ */
    // background-image:         linear-gradient(to bottom, rgba(50,50,50, .8), rgba(50,50,50, 1)), url('nice-things.jpg'); /* W3C */

background-image: -moz-linear-gradient(left,  rgba(71,165,153,0.9) 0%, rgba(71,165,153,0.9) 100%), url('nice-things.jpg'); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(71,165,153,0.9)),color-stop(100%,rgba(71,165,153,0.9))), url('nice-things.jpg'); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(left,  rgba(71,165,153,0.9) 0%,rgba(71,165,153,0.9) 100%), url('nice-things.jpg'); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(left,  rgba(71,165,153,0.9) 0%,rgba(71,165,153,0.9) 100%), url('nice-things.jpg'); /* Opera 11.10+ */
background-image: -ms-linear-gradient(left,  rgba(71,165,153,0.9) 0%,rgba(71,165,153,0.9) 100%), url('nice-things.jpg'); /* IE10+ */
background-image: linear-gradient(to right,  rgba(71,165,153,0.9) 0%,rgba(71,165,153,0.9) 100%), url('nice-things.jpg'); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33323232', endColorstr='#05323232',GradientType=1 ); /* IE6-9 */

    background-repeat: repeat-x;
    background-position: 50% 0%;
    background-attachment: fixed;

  // background-color: #7f8c8d;
  // background-color: #524982;
  background-color: #2d313d;

  color: white;
  margin-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  .btn {
    background-color: white;
    font-weight: 600;
    color: #378278;

    &:hover, &:focus {
      background-color: #e6e6e6;
    }
  }  

  a.muted {
    color: white;
  }
  
  h1 {
    font-size: 2em;
    font-weight: normal;
    line-height: 2.2em;
  }

  h2 {
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    // color: $grayLight;
  }
}

#signUp {
  z-index: 1050;
}


.home_about, .items_home, .signup_home {
  padding: 70px 0;
  h1 {
    margin-bottom: 50px;
  }
}

.home_about {
  img {
    margin-bottom: 20px;
  }
}

.about-imgs .animated {
    display: none;
}

.about-imgs:hover {
  .animated {
    display: inline;
  }
  .non-animated {
    display: none;
  }
}


.about-boxes {

  span {
    height: 200px;
    display: block;
    padding: 15px 0;

    .about-imgs.pull-left {
      margin-right: 20px;
    }

    .about-imgs.pull-right {
      margin-left: 20px;
    }
  }
}

.white-box {
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 #fff;
  //   span {
  //     margin-left: 10px;
  // }

  .image-container {
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
  }
}

.white-box.wb-nopadding {
  padding: 0;
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 600;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

@font-face {
  font-family: Lavanderia_Regular;
  src: asset-url('Lavanderia_Regular.otf', font) format('opentype');
  }

.logo {
  font-family: Lavanderia_Regular;
}


/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.brand {
  padding: 0px !important;
  margin-left: 0px !important;
  text-indent: -999999em;
  background-image:url('logo.png');
  background-size:90px 40px;
  height: 40px;
  width: 90px;
}

/* feed */

.sort_general {
  a {
    color: $gray;
  }
  a.active {
    color: $gray;
    font-weight: bold;
    background-color: transparent !important; 
  }
  a:hover, a:focus {
    text-decoration: none;
    background-color: #eeeeee !important;
    }
}


// .sort_gender {
//   a.active, a:hover, a:focus {
//     text-decoration: none;
//     color: #333333;
//     background-color: transparent !important;
//     }
// }


/* footer */

footer {
  height: 40px;
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
      text-decoration: none;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* item show */

.item {
  margin-bottom: 20px;
  min-height: 354px;
  h3 {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
  }
  p.item-meta {
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin-bottom: 0;
  }
  p.price {
    left:10px;
  }
  p.price input {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-weight: 600;
    color: #777777;
  }
  .image-container {
    height: 280px;
  }
}

.item, .item-big {
  display: block;
  position: relative;
  overflow: hidden;
  &:hover {
      .mark {
        opacity: 1;
      }
      .btn {
        opacity: 1;
        z-index: 100;
      }
    }

  .item-link {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .mark {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
  }

  form {
    margin: 0;
  }

  .btn-large {
    margin-top: 5px;
  }

}

.image-container {
  form {
    margin: 0;
  }
  .btn {
    /*position: absolute;*/
    /*top: 50%;
    left: 50%;*/
    z-index: 1;
    /*margin-left: -64px;*/
    /*margin-top: -45px;*/
    opacity: 0;
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
  }
  .wishlistt_it_form {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 1;
    /*margin-left: -74px;*/
    margin-top: -45px;
    width: 100%;
  }
}

.nav > .white-box {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.comments-area {
  h3 {
    padding-bottom: 5px;
    margin: 20px 0;
    border-bottom: 2px solid #e8e8e8;
    font-size: 1em;
  }
}

.comments {
  margin-bottom: 20px;
  p {
  margin-bottom: 0px;
  }
}

.comments, .new_comment {
  .gravatar {
    margin-right: 0;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color:white;
  @include box_sizing;
}

/* aside sidebar */

.share {
  a {
    color: inherit;
    text-decoration: inherit;
    &:hover, &:focus {
      color: #333333;
    }
  }
  input {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    font-style: inherit;
    text-indent: inherit;
    border: none;
    width: inherit;
    height: inherit !important;
    line-height: inherit !important;
    padding: 0 !important;
    margin: inherit !important;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    color: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    vertical-align: inherit;
    display: inline;
    cursor: pointer;
  }
}

#share_list {
    h3 {
      border-bottom: 0 !important;
    }
    form {
      margin-bottom: 0 !important;
    }
  }


.user_info {
  margin-bottom: 20px;
  form {
    margin-bottom: 0;
  }
  .row {
    position: relative;
  }
  span {
      display: block;
      margin-bottom: 2px;
      line-height: 1.4em;
      color: #777777;
    }
  h1 {
      display: inline-block;
      font-size: 2em;
      line-height: 1.1em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 8px;
      margin-top: 0px;
      margin-right: 10px;
    }
}

.user-socials span {
  display: inline-block;
  margin-right: 10px;
}

.follow_form {
  vertical-align: top;
  margin-right: 10px;
}

.follow_form_small { 
  float: right;
  margin-right: 0;
  .btn {
    font-size: 10px;
    padding: 0px 6px;
  }
}

.reserve_form {
  position: absolute;
  top: 10px;
  right: 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.user_lists {
  li {
  padding: 5px 0;
  border-bottom: 1px solid $grayLighter;
  &:last-child {
    border-bottom: 0px;
    }
  }
}

.shop_now {
  a {
    margin-bottom: 10px
  }
  .price {
    /*font-size: 1.5em;*/
    margin: 0 0 5px 0;
  }
  .shop-link {
    font-weight: 600;
  }
}

// .show_user {
//   white-space: nowrap;
//   overflow-x:scroll;

//   .row {
//     width: 100%;

//     .span6 {
//       float: none;
//       display: inline-block;
//       vertical-align: top;
//     }
//   }
// }


.create-list .input-append { 
  margin: 0;
  width: 100%;

  #appendedInputButton {
    border: 0;
    // padding: 5px;
    // width: 182px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    // font-size: 13px;
    }
  .btn {
    margin-left: -35px;
    margin-top: 0px;
    font-size: 11px;
    width: 35px;
    padding: 7px;
    // -webkit-border-radius: 18px;
    // -moz-border-radius: 18px;
    // border-radius: 18px;
    border: 0;
    z-index: 10;
    // color: gray;
  }
 }

.create-list {
  // margin-top: 10px;
  padding: 0;
}

aside {
  h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e8;
    // font-size: 1.1em
  }
}

aside > div {
    margin-bottom: 30px;
  }

// aside.span3 {
//   font-size: 13px;
// }


/* forms */

form {
  margin-bottom: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .new_list {
  margin: 0;
 }


#make_wish > form, #new_wish > form {
  margin-bottom: 0;
}

.carousel-control {
  background: #47a599;
}


.best_in_place {
  margin: 0px !important;
  cursor: text;
  // border-bottom:1px dotted;
  // background-color: #fffed4;
  &:hover, &:active {
    background-color: #fffed4;
  }
  .form_in_place{
    border: none;
    width: inherit;
    height: 100% !important;
    line-height: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    color: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    vertical-align: inherit;
    
    input {
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      font-variant: inherit;
      font-style: inherit;
      text-indent: inherit;
      border: none;
      width: 100% !important;
      height: inherit !important;
      line-height: inherit !important;
      padding: 0 !important;
      margin: inherit !important;
      -moz-box-sizing: inherit;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      background-color: inherit;
      -webkit-box-shadow: inherit;
      -moz-box-shadow: inherit;
      box-shadow: inherit;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
      color: inherit;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      border-radius: inherit;
      vertical-align: inherit;
      display: inline;
    }
    input[type="text"] {
      padding: 0;
      height: 35px;
      line-height: 1em;
      outline-offset: 0;
    }
  }

}

#imgPreview {
  margin-top: 20px;
}
 #imgPreview, .carousel-inner, .item, #imgPreview .carousel-inner .item > img { 
  height: 200px;
  padding-bottom: 15px;
}

#imgPreview .carousel-inner .item > img { 
  margin: 0 auto;
}

 /* profile USER SHOW */

 .row-of-3 {
  width: 100%;
 }

 .item-in-row {
  display: inline-block;
  width: 32%;
 }

 .item-list {
  height: 415px;
  .image-container {
    background-color: white;
    height: 370px;
  }
  .mark p {
    position: absolute;
    top: 10px;
    left: 5px;
    font-style: normal;
    text-align: left;
  }
  a {
    text-decoration: none !important;
  }
}

.wishes {
  list-style: none;
  margin: 0;

  li {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    min-height: 85px;
    background-color: white;


    &:first-child {
      border-top: 0px !important;
      padding: 10px 0 ;
    }

    &:hover {
      .btn-group {
        display: inline-block;
      }
    }

    .btn-group {
      right: 0;
      display: none;
    }

    .btn-group, .timestamp {
        position: absolute;
        bottom: 10px;
        right:0;
      }
    

    .inline-block {
      vertical-align: top;
    }

    .media-body {
      padding-bottom: 20px;
    }
  }
}

.user_list_large_wish {
  margin-top: 0;
  overflow: visible;
  img {
    width: 85px;
    height: 85px;
  }
}

.wishes img {
  width: 85px;
}

.wishes h4 {
  margin-top: 3px;
}

.user_list {
  min-height: 100px;
  padding-bottom: 12px;
  margin-bottom: 10px;
  background: white url('project-bottom.png') repeat-x bottom left;
  h4 {
    margin: 0 0 0px 0;
    font-weight: 600;
    font-size: 15px;
    a {
      color: inherit;
      text-decoration: inherit;
      line-height: 1.6em;
    }
  }
}

.list_more {
  .user_list {
    background: none;
    max-height: 300px;
    .user_list_wish {
      background: none;
      border: none;
    }
  }
}

.user_list_title {
  h2 {
    font-size: 1.8em;
  }
  h3 {
    margin: 5px 0;
    font-size: 1.4em;
  }
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 5px;
  position:relative;
  #add_wish {
    position: absolute;
    top: 0;
    right:0;
  }
}

.user_list_large .user_list_title {
  padding: 10px;
}

.list_meta {
  span {
    margin-left: 15px;
  }
}

.edit_list_btn {
  z-index: 100;
  position: relative;
}

.user_list_wishes {
  min-height: 10px;
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: 0;
  .media {
    margin-top: 0px;
  }
}

#new_item.loading #search {
  background: url(ajax-loader.gif) no-repeat;
  background-position: right 7px center;
}

#new_item .list-add-wish {
  #note, #item_link, #item_title {
    width: 70%;
  }
  .checkbox {
    width: 70%;
  }
}



.dragndrop .user_list_wish:hover, .dragndrop .user_list_wish:active {
  border-left: solid $grayLighter 4px;
  padding-left: 1px;
  cursor: move;
}

.user_list_wish:active {
  border: 1px solid $grayLighter;
}

.user_list_wish, .sortable_placeholder {
  border: 1px solid white;
  background-color: white;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.user_list_wish, .sortable_placeholder, .aside_user_list_wish {
  min-height: 45px;
  padding: 4px;
  img {
    height: 45px;
    max-width: 50px;
  }
  h4 {
    font-size: 1em;
  }
  h4, p {
    margin-top: 0;
    margin-bottom: 4px;
    // font-size: 1em;
    line-height: 17px;
    font-weight: normal;
  }
  .block-content {
    padding-left: 50px;
  }
}

.aside_search_result {
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}

.sortable_placeholder {
  background-color: $grayLighter;
}


.user_list_add_wish {
  display: block;
  color: $grayLight !important;
  padding: 10px 5px;

  &:hover, &:focus {
    color: $gray !important;
    text-decoration: underline !important;
  }
}

.inline-block {
  li {
    display: inline-block;
  }
}

.no-wish {
  padding: 30% 10px;
  clear:both;
  display: block;
  min-height: 150px;
  p {
    color: #777777;
  }
}

.list_add_wish {
  margin-top: 20px;
}

.user_list_wish {
  .timestamp, .close {
    display: none;
  }
}

.dragndrop .user_list_wish:hover {
  .timestamp, .close {
    display: block;
  }
}

.timestamp {
  color: $grayLight;
  font-size: 11px;
  display: block;
}
.user_list_wish {
  .thumb {
    height: 45px;
    width: 45px;
  }
  .timestamp {
    float: right;
  }
}
.small_price {
  color: $grayLight;
  font-size: 11px;
  display: block;
  float: left;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-small {
  height: 20px;
  width: 20px;
}

.gravatar-medium {
  height: 40px;
  width: 40px;
}

.gravatar-large {
  height: 100px;
  width: 100px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


.sortable {
  margin: 10px 0;
  border-bottom: 2px solid #e8e8e8;
  a {
    display: block;
    padding-bottom: 5px;
    color: $gray;
    font-size: 17px;
    line-height: 1;
  }
  a.active, a:hover, a:focus {
    text-decoration: none;
    color: #444444;
    }
  a.active {
    font-weight: 600;
  }
}


.stats {
  // overflow: auto;
  margin-top: 0px;
  position: absolute;
  bottom: 0;
  right:0;
  display: inline-block;
  vertical-align: bottom;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    // font-size: 12px;
    // line-height: 15px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
    font-size: 14px;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


/* social */

.btn-facebook {
  // color: #ffffff;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  // *background-color: #133783;
  // background-image: -moz-linear-gradient(top, #3b5998, #133783);
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  // background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  // background-image: -o-linear-gradient(top, #3b5998, #133783);
  // background-image: linear-gradient(to bottom, #3b5998, #133783);
  // background-repeat: repeat-x;
  // border-color: #133783 #133783 #091b40;
  // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  // i {
  //   line-height: 0.5em !important;
  // }
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  // *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}


/* users index */

.users {
  list-style: none;
  margin: 0px 0 0 0;
  li {
    overflow: auto;
    padding: 15px 0 0;
    margin-bottom: 10px;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border-top: 0;
    }
  }
}