<div class="center jumbotron">
  <h1>Welcome to wishlist</h1>
  <h2>
    Wishlist allows you to quickly organize and share your wishlist.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="bs-docs-social">
  <div class="container">
    <small>Socials</small>
  </div>
</div>