<div class="jumbotron alert alert-info">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <span class="inline-block">
    <h2>Organize and share your wishlist.</h2>
    <a href="#signUp" role="button" class="btn btn-large btn-primary" data-toggle="modal">Sign up now!</a>
  </span>
  <h1 class="logo">Wishlistt.</h1>
</div>