<div class="center hero-unit ">
	<div class="container">
		<span>
			
			<h1>Collect, organize, and share your wish list. </h1><a href="#signUp" role="button" class="btn btn-large" data-toggle="modal">Sign up now!</a>
			<p><small>or <%= link_to "learn more", about_path, class: "muted" %></small></p>
	 	</span>
	 </div>
</div>