<div class="center jumbotron">
  <h1>Welcome to wishlistt</h1>
  <h2>
    Wishlist allows you to quickly organize and share your wishlist.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="bs-docs-social">
	<div class="ribbon-stitches-top"></div>

  <div class="container">
    <i class="icon-thumbs-up"></i> facebook - twitter - more
  </div>
<div class="ribbon-stitches-bottom"></div>

</div>