<div class="center hero-unit ">
	<div class="container">
		<span>
			<%= image_tag 'logo-large.png', alt: "Wishlistt logo" %>
			<h1 class="hidden-phone">Collect, organize, and share your wish list</h1><a href="#signUp" id="jumbotron_signup" role="button" class="btn btn-large" data-toggle="modal">Sign up for free</a>
			<p><small>or <%= link_to "learn more", about_path, class: "muted" %></small></p>
	 	</span>
	 </div>
</div>