<div class="center hero-unit ">
	<div class="container">
		<span>
			<img src="assets/logo-large.png" alt="">
			<h1>Collect, organize, and share your wish list. </h1><a href="#signUp" role="button" class="btn btn-large btn-primary" data-toggle="modal">Sign up now!</a>
			<p><small>or <%= link_to "learn more", about_path %></small></p>
	 	</span>
	 </div>
</div>