<div class="center jumbotron">
  <h1 class="logo">Wishlistt.</h1>
  <h2>Organize and share your wishlist.</h2>
  <div class="spacer"></div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-success btn-large btn-primary" %>
</div>
<div class="bs-docs-social">
  <div class="container">
  	<%= render 'layouts/facebook_like' %>
  	<%= render 'layouts/twitter_follow' %>
  </div>
</div>